#Master_container {
    width: 992px;
    margin-right: auto;
    margin-left: auto;
}

body, main {
    display: flex
}

body {
    flex-direction: column
}

header {
    position: relative;
    background-color: slategray;
    border-style: solid;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    
}

h2 {
    text-decoration: underline;
    color: black;
    display: block;

}
li a {
    color: black
}

#tagline {
    color: red;
}

#pipe_me {
    margin-left: 0;
    padding-left: 5px;
    padding-right: 15px;
    border-left: burlywood solid 1px;

}

#pipefree {
    margin-right: 10px;
    padding-right: 10px;
}

#logo {
    position: relative;
    float: left;
    left: 30px;
    margin: 10px;
    padding: 15px;
    border: 2px solid black;

}

#main_title {
    position: relative;
    left: 30px;
    clear: left;
}

#tagline {
    position: relative;
    margin: -10px 0px 20px 30px;
}

#user_nav {
    display: inline-block;
    margin-left: 300.664px;
    margin-right: 352.664px;
}

.user_nav_li {
    float: left;
    display: block;
    padding: 4px 6px;
    margin: 0px 10px 20px 10px;
    border-style: solid;
    border-width: 1px;
}

#profile_nav {
    float: right;
}

.profile_nav_li {
    display: inline-block;
}

article {
    flex: 3;
    border-style: solid;
    overflow-y: auto;
    text-align: left;
    height: 500px;
}

p {
    font-family: "Arial", Times, Sans-serif;
    color: #000000;
    font-size: 105%
}

#nbsp {
    display: none;
}

.user {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    border-left: solid;
    border-right: solid;
    margin: auto;
    margin-top: 0px;
}

.user_photo {
    float: left;
    clear: left;
    width: 90px;
    height: 95px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    border-style: solid; 
}

.user_bold {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.date_of_birth {
    height: 15px;
    color: black;
    margin: 0;
    margin-bottom: 5px
}

.member_since {
    color: black;
    margin: 0;
    margin-bottom: 0px;
}

.from_lives_in {
    color: black;
    margin: 0
}

.user_bio {
    margin-left: 10px;
}

footer {
    text-align: center;
    border-style: solid;
    background-color: slategray;
}

#welcome {
    position: fixed;
    bottom: 0;
    right: 0;        
    width: 200px;
    border: 2px solid green;
    background-color: grey;
}
.bio_click {
    color: purple;
}

a {
    text-decoration: none;
    background: linear-gradient(grey,white);
    transition: color 2s, background 2s;

}

a:hover {
    color: red;
    text-decoration: underline;
    background: none;
    background-color: white;
    transition: color 2s, background 2s;

}

a:active {
    background: none;
}
