html {
    width: 992px
}
body, main {
    display: flex
}
body {
    flex-direction: column
}
main {
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
    width: 662px;
    text-align: left;
    border-style: solid;
    border-right: thick double #C0C0C0;
}
aside {
    flex: 1;
    overflow-y: auto;
    float: right;
    width: 331px;
    text-align: left;
    border-style: solid;
    border-left: thick double #C0C0C0;
}
h1 {
    color: blue
}
footer, {
    text-align: center
}
footer {
    border-top: thick double #C0C0C0;
    border-style: solid;
    border-right: thick double #C0C0C0;
    border-left: thick double #C0C0C0;
    background: #C0C0C0;
}
p {
    font-family: "Times New Roman", Times, serif;
    color: #000000;
    font-size: 110%
}

header {
    position: relative;
    display: inline-block;
    width: 992px;
    height: auto;
    position: relative;
    border-right: thick double #C0C0C0;
    border-left: thick double #C0C0C0;
    border-bottom: thick double #C0C0C0;
    border-style: solid;

}
#logo {
    position: relative;
    left: 30px;
}
#main_title {
    position: relative;
    left: 30px;
}
#tagline {
    position: relative;
    left: 30px;
}
#profile_nav {
    float: bottom;
}

#user_nav {
    display: inline-block;
}
img {
    width: 75px;
    height: 75px;
}