html {
    width: 992px
}

body, main {
    display: flex
}

body {
    flex-direction: column
}

main {
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    border-style: solid;
    overflow-y: auto;
    text-align: left;
    width: 662px;
}


aside {
    flex: 1;
    overflow-y: auto;
    width: 331px;
    text-align: left;
    border-style: solid;
}

h1 {
    color: blue
}

h2 {
    color: black;
    text-decoration: underline;
    display: block;
}

footer {
    text-align: center;
    border-style: solid;
    background-color: slategray;
}

p {
    font-family: "Times New Roman", Times, serif;
    color: #000000;
    font-size: 110%
}

header {
    position: relative;
    background-color: slategray;
    border-style: solid;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    
}

#logo {
    position: relative;
    float: left;
    left: 30px;
    margin: 10px;
    padding: 15px;
    border: 2px solid black;

}

#main_title {
    position: relative;
    left: 30px;
    clear: left;
}

#tagline {
    position: relative;
    margin: -10px 0px 20px 30px;
}

#user_nav {
    margin: 0 0px 0px 300px;
    display: inline-block;
}

.user_nav_li {
    float: left;
    display: block;
    padding: 4px 6px;
    background-color: darkblue;
    margin: 0px 10px 20px 10px;
}

#profile_nav {
    float: right;
}

.profile_nav_li {
    display: inline-block;
    padding: 4px 6px;
    margin: 0px 10px 20px 10px;
}
.user_photo {
    float: left;
    clear: left;
    width: 75px;
    height: 75px;
    margin-right: 10px;
    position: relative;
}
.status {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
img {
    width: 75px;
    height: 75px;
}

#welcome {
    position: fixed;
    bottom: 0;
    right: 0;        
    width: 200px;
    border: 2px solid green;
}
.user_bold {
    height: 10px;
    text-decoration: underline;
    font-weight: bold;
}
.date_posted {
    height: 15px;
    color: slategray;
}

#tagline {
    color: red;
}

li a {
    color: burlywood
}
.aside_picture {
    height: 60px;
    width: 60px; 
}