#post_a_status{
    display: none;
}

.reply_div{
    display: none;
}
.buttonreply {
    margin-left: 10px;
    color: white;
    font-size: 15px;
    background-color: slategray;
}

#buttonTriggersChange {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    color: white;
    font-size: 30px;
    background-color: slategray
}

.showmore {
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    color: white;
    font-size: 30px;
    background-color: slategray
}
/* small screen */

@media screen and (max-width: 768px) {

/*status box*/


.box_of_text{
    width: auto;
    height: auto;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

.check_box{

}

    article {
    margin: 0;
    overflow-y: auto;
    text-align: left;
    float: left;
    clear: left;
    border-style: solid;
    min-height: auto;
}

aside {
    margin: auto;
    overflow-y: auto;
    text-align: left;
    border-style: solid;
    clear: none;
    min-height: auto;
}

li a {
    color: black
}
h2 {
    color: black;
    text-decoration: underline;
    display: block;
}

p {
    font-family: "Arial", Times, Sans-serif;
    color: #000000;
    font-size: 105%
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: slategray;
    border-style: solid;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

#logo_title_tagline {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 20px;
}
    
#logo {
    left: 30px;
    margin: 10px;
    padding: 15px;
    border: 2px solid black;

}

#main_title {
  }

#tagline {
    margin: -10px 0px 0px 0px;
}

#user_nav {
    display: flex;
    justify-content: flex-start;
   }

.user_nav_li {
    float: left;
    padding: 4px 6px;
    margin: 0px 10px 20px 10px;
    border-style: solid;
    border-width: 1px;
}

#profile_nav {
    margin-top: -10px;
    margin-left: 20px;
}

.profile_nav_li {
    display: inline-block;
}

.user_photo {
    float: left;
    clear: left;
    width: 90px;
    height: 90px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    border-style: solid; 
}

.status {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/*beta notice in footer postion*/

#welcome {
    position: relative;
    margin: 0 auto;
    text-align: center;        
    width: auto;
    border: 2px solid green;
    background-color: grey;
}

.user_bold {
    height: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.date_posted {
    height: 15px;
    color: slategray;
}

#tagline {
    color: red;
}

.aside_picture {
    height: 60px;
    width: 60px;
    border-style: solid;
    margin-left: 10px;
    margin-top: 10px; 
}

.aside_bio {
    margin-left: 10px;
    margin-right: 10px;
}


#nbsp {
    display: none;
}

#pipe_me {
    padding-left: 5px;
    padding-right: 15px;
    border-left: burlywood solid 1px;
}

#pipefree {
    margin-right: 10px;
    padding-right: 10px;
}
a {
    text-decoration: none;
    background: linear-gradient(grey,white);
    transition: color 2s, background 2s;

}

a:hover {
    color: red;
    text-decoration: underline;
    background: none;
    background-color: white;
    transition: color 2s, background 2s;

}

a:active {
    background: none;
}

}



/*medium-sized screens*/

@media screen and (min-width: 768px) and (max-width: 992px) {
  
/*status box*/


.box_of_text{
    width: auto;
    height: auto;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

.check_box{

}

    article {
    margin: 0;
    overflow-y: auto;
    text-align: left;
    float: left;
    clear: none;
    border-style: solid;
    min-height: 1100px;
}

aside {
    float:left;
    overflow-y: auto;
    text-align: left;
    border-style: solid;
    clear: none;
    min-height: auto;
    width: 29%;
}

li a {
    color: black
}
h2 {
    color: black;
    text-decoration: underline;
    display: block;
}

p {
    font-family: "Arial", Times, Sans-serif;
    color: #000000;
    font-size: 105%
}

header {
    display: flex;  
    flex-direction: column;
    background-color: slategray;
    border-style: solid;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    }

footer {
    float: left;
    margin: 0;
    width: 29%;
    display: inline-block;
    }
    
#logo {
    position: relative;
    float: left;
    left: 30px;
    margin: 10px;
    padding: 15px;
    border: 2px solid black;

}

#main_title {
    position: relative;
    left: 30px;
    clear: left;
}

#tagline {
    position: relative;
    margin: -10px 0px 20px 30px;
}

#user_nav {
    justify-content: flex-start;
    margin-left: 20px;
}

.user_nav_li {
    float: left;
    display: block;
    padding: 4px 6px;
    margin: 0px 10px 20px 10px;
    border-style: solid;
    border-width: 1px;
}

#profile_nav {
   justify-content: flex-start;
    margin-left: 40px;
    margin-top: -5px;
}

.profile_nav_li {
    display: inline-block;
    padding-right: 15px, 10px 10px, 10px;
}

.user_photo {
    float: left;
    clear: left;
    width: 90px;
    height: 90px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    border-style: solid; 
}

.status {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#welcome {
    text-align: center;  
    margin-top: 0;
    margin-right: 20;
    width: 20;
    border: 2px solid green;
    background-color: grey;
}

.user_bold {
    height: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.date_posted {
    height: 15px;
    color: slategray;
}

#tagline {
    color: red;
}

.aside_picture {
    height: 60px;
    width: 60px;
    border-style: solid;
    margin-left: 10px;
    margin-top: 10px; 
}

.aside_bio {
    margin-left: 10px;
    margin-right: 10px;
}


#nbsp {
    display: none;
}

#pipe_me {
    padding-left: 5px;
    padding-right: 15px;
    border-left: burlywood solid 1px;
}

#pipefree {
    margin-right: 10px;
    padding-right: 10px;
}
a {
    text-decoration: none;
    background: linear-gradient(grey,white);
    transition: color 2s, background 2s;

}

a:hover {
    color: red;
    text-decoration: underline;
    background: none;
    background-color: white;
    transition: color 2s, background 2s;

}

a:active {
    background: none;
}

}

/*largest screens*/
    
    
@media screen and (min-width: 992px){

/*status box*/

.box_of_text{
    width: auto;
    height: auto;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

.check_box{

}


#Master_container {
    width: 992px;
    margin-right: auto;
    margin-left: auto;
}

article {
    margin: 0;
    width: 69%;
    border-style: solid;
    overflow-y: auto;
    text-align: left;
    margin-right: 0px;
    float: left;
    clear: none;
    min-height: 1140px;
}

aside {
    margin: 0;
    width: 30%;
    overflow-y: auto;
    text-align: left;
    border-style: solid;
    border-left: none;
    clear: none;
  
}

li a {
    color: black
}
h2 {
    color: black;
    text-decoration: underline;
    display: block;
}

footer {
    text-align: center;
    border-style: solid;
    clear: both;
    background-color: slategray;
}

p {
    font-family: "Arial", Times, Sans-serif;
    color: #000000;
    font-size: 105%
}

header {
    display: flex;
    background-color: slategray;
    border-style: solid;
    overflow-y: auto;
    height: 250px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    
}

#logo_title_tagline {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 20px;
}

#logo {
    display: flex;
    padding: 15px;
    border: 2px solid black;
    margin-top: 10px;
}

#main_title {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0;
}

#tagline {
    display: flex;
    margin-top: 10px;
}

#user_nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    margin-top: 20px;
}

.user_nav_li {
    padding: 4px 6px;
    margin: 0px 10px 20px 10px;
    border-style: solid;
    border-width: 1px;
}

#profile_nav {
    justify-content: flex-end;
    margin-left: 150px;
}

.profile_nav_li {
    display: inline-block;
    padding-right: 15px, 10px 10px, 10px;
}

.user_photo {
    float: left;
    clear: left;
    width: 90px;
    height: 90px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    border-style: solid; 
}

.status {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#welcome {
    position: fixed;
    bottom: 0;
    right: 0;        
    width: 200px;
    border: 2px solid green;
    background-color: grey;
}

.user_bold {
    height: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.date_posted {
    height: 15px;
    color: slategray;
}

#tagline {
    color: red;
}

.aside_picture {
    height: 60px;
    width: 60px;
    border-style: solid;
    margin-left: 10px;
    margin-top: 10px; 
}

.aside_bio {
    margin-left: 10px;
    margin-right: 10px;
}


#nbsp {
    display: none;
}

#pipe_me {
    padding-left: 5px;
    padding-right: 15px;
    border-left: burlywood solid 1px;
}

#pipefree {
    margin-right: 10px;
    padding-right: 10px;
}
a {
    text-decoration: none;
    background: linear-gradient(grey,white);
    transition: color 2s, background 2s;

}

a:hover {
    color: red;
    text-decoration: underline;
    background: none;
    background-color: white;
    transition: color 2s, background 2s;

}

a:active {
    background: none;
}
}